<!doctype html>
<html>
  <head>
    <title>Proud Pineapples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Electrolize|Lato|Open+Sans|Orbitron" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/main.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Proud Pineapples</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <a href="/"><li class = "current">Home</li></a>
                <a href="/about/"><li>About</li></a>
                <a href="/signuppg/"><li>Sign Up</li></a>
                <a href="/loginpg/"><li>Login</li></a>
            </ul>
        </nav>
        <hr class="catchadream" style="height:5px;border:none;width:100%"/>
    </header>

    <div class="hero">
        <h1>Proud Pineapples</h1>
        <div class="container intro">
        </div>
    </div>
      
      <footer>
          <p>Contact us at <a href="mailto:admin@proudpineapples.tech">admin@proudpineapples.tech</a></p>
      </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
