<!doctype html>
<html>
  <head>
    <title>Proud Pineapples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Electrolize|Lato|Open+Sans|Orbitron" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Proud Pineapples</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li class = "current"><a href="#">Sign Up</a></li>
                <li><a href="/loginpg/">Login</a></li>
            </ul>
        </nav>
        <hr class="catchadream" style="height:5px;border:none;width:100%"/>
    </header>

    <div class="hero">
        <h1>Sign Up</h1>
        <div class="login col-md-12">
            <form method="POST" action="/signup/">
                First Name:<input style = "margin-left: 1.1em; color: black" type ="textbox" name ="firstname"><br /> <br />
                Last Name: <input style = "margin-left: 1.1em; color: black" type ="textbox" name ="lastname"><br /> <br />
                Username: <input style = "margin-left: 1.2em; color: black" type="textbox" name="username"><br /><br />
                Password: <input style = "margin-left: 1.3em; color: black" type="textbox" name = "password"> <br /> <br />
                Confirm Password: <input style = "margin-left: 0.8em; color: black" type = "textbox" name = "confirmpwd"> <br /> <br />
                <a style="margin-left: 0; font-size: 1.3em; color: aliceblue" href="/loginpg/">Already have an account?</a>   
                <input style="color: black; font-size: 1.3em" type="submit" name="Sign Up" value="Signup">
            </form>
        </div>
    </div>
      
      <footer>
          <p>Contact us at <a href="mailto:admin@proudpineapples.tech">admin@proudpineapples.tech</a></p>
      </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
